# Final Assignment - Capstone Project
## A description of the problem and a discussion of the background.
New data scientist in the city.
### Background
Tom has recently moved to Bangkok for the position of data scientist in multinational company. Since he's never been to Bangkok before, he would like to explore where who could live happily. He knows that his company is located near metro line, "BTS Sukhumvit Line" at "Asok Station" and it would save him a lot of money and time by commuting to his workplace via mass transit system instead of driving a car in one of the worst traffic city. He does concern on living expense and would like to live where rental and food are cheap as long as the commute time is not more than 30 mins (which is approximately 12 stations away from "Asok Station") and have similar characteristics as his office areas where he considered as central business district.

<img src=https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/BTS_Sukhumvit.jpg/300px-BTS_Sukhumvit.jpg>

### Problem Statement
The problem is to find neighborhood represented by station which met his criteria and have similar characteristics as "Asok Station".

## A description of the data and how it will be used to solve the problem.

Location of each "BTS Sukhumvit Line" station: Prepared data in CSV format containing sequence of station, name of station, latitude and longitude of station. This location data will be used as an input for Foursquare API to explore the venues around each station and then cluster them to find each station's characteristics. After that, sample 10 restaurants around each station with the same cluster as "Asok Station" to find neighborhood with cheaper living expense based on price tier of each restaurant, assuming price of restaurant represent both rental and food expenses around that area. Finally, select neighborhood that met all criteria which is:

1. Same cluster as "Asok Station"
2. Lowest average price tier
3. Within range of 12 stations away from "Asok Station"

## Load Data
### Preloading Libraries

In [1]:
import pandas as pd

In [2]:
Sukhumvit_Stations = pd.read_csv('Sukhumvit_Line.csv')
Sukhumvit_Stations.head()

   Sequence       Station Name   Latitude   Longitude
0         1  Ha Yaek Lat Phrao  13.647363  100.596153
1         2            Mo Chit  13.802583  100.553833
2         3       Saphan Khwai  13.793800  100.549731
3         4                Ari  13.779703  100.544642
4         5          Sanam Pao  13.772622  100.542092